.navbar {
  background-image: linear-gradient(180deg, #eee, #fff 50px, #fff);
}
.dropdown-item:focus {
  background-color: #212529;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.dwnld:hover {
  text-decoration: none;
}
.bi-star-fill {
  color: #ffc107;
}
.accordion-button:not(.collapsed) {
  background-color: #fff;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(img/minus.png);
  background-size: 16px;
}
.accordion-button::after {
  background-image: url(img/plus.png);
  background-size: 16px;
}
.accordion-button:focus {
  box-shadow: none;
}
#myBtn {
  display: none;
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #212529;
  color: #fff;
  cursor: pointer;
  padding: 0px;
  border-radius: 50%;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #495057;
}
